<div class="row">

  <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto mt-4">

    <div class="card">
      <div class="card-header">
        Password Reset
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Account status
        </h5>

        <!-- Loading -->
        <div class="card-text" *ngIf="loading">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>

        <ng-container *ngIf="!loading">

          <!-- Send token mode -->
          <div class="card-text" *ngIf="pageMode == sendTokenMode">

            <!-- Success activation message -->
            <div class="alert alert-success font-weight-bold" *ngIf="passwordResetSuccess">
              <i class="far fa-check-circle"></i> {{ message }}
            </div>

            <!-- Failed activation message -->
            <div class="alert alert-danger font-weight-bold" *ngIf="passwordResetError">
              <i class="far fa-times-circle"></i> {{ message }}
            </div>

            <form [formGroup]="form" (ngSubmit)="onSendPasswordToken()">
              <div class="form-group">
                <label for="Email">Email address</label>
                <input type="email" formControlName="email"
                  [ngClass]="{'is-invalid': form.controls.email.touched && form.controls.email.invalid, 'is-valid': form.controls.email.tuched && form.controls.email.valid}"
                  class="form-control" id="Email" placeholder="Enter email" />
                <div class="invalid-feedback"
                  *ngIf="form.controls.email.touched && form.controls.email.invalid && !form.controls.email.errors.isEmailDoesNotExist">
                  Invalid email
                </div>
                <div class="invalid-feedback"
                  *ngIf="form.controls.email.touched && form.controls.email.invalid && form.controls.email.errors.isEmailDoesNotExist">
                  Email does not belong to any user
                </div>
              </div>
              <button class="btn btn-warning btn-block" #passwordResetBtn [disabled]="form.invalid"><i
                  class="fas fa-share-square"></i> Reset Password</button>
            </form>

          </div>

          <!-- Invalid token message -->
          <div class="alert alert-danger font-weight-bold" *ngIf="invalidToken">
            <i class="far fa-times-circle"></i> {{ message }}
          </div>

          <!-- Reset password mode -->
          <div class="card-text" *ngIf="pageMode == resetMode && !invalidToken">

            <!-- Success activation message -->
            <div class="alert alert-success font-weight-bold" *ngIf="passwordResetSuccess">
              <i class="far fa-check-circle"></i> {{ message }}
            </div>

            <!-- Failed activation message -->
            <div class="alert alert-danger font-weight-bold" *ngIf="passwordResetError">
              <i class="far fa-times-circle"></i> {{ message }}
            </div>

            <form *ngIf="!passwordResetSuccess" [formGroup]="form" (ngSubmit)="onResetPassword()">
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" formControlName="password"
                  [ngClass]="{'is-invalid': form.controls.password.touched && form.controls.password.invalid, 'is-valid': form.controls.password.tuched && form.controls.password.valid}"
                  class="form-control" id="Password" placeholder="Password">
                <div class="invalid-feedback" *ngIf="form.controls.password.touched && form.controls.password.invalid">
                  Invalid password
                </div>
              </div>
              <div class="form-group">
                <label for="PasswordConfirm">Confirm Password</label>
                <input type="password" formControlName="passwordConfirm"
                  [ngClass]="{'is-invalid': form.controls.passwordConfirm.touched && form.controls.passwordConfirm.invalid, 'is-valid': form.controls.passwordConfirm.tuched && form.controls.passwordConfirm.valid}"
                  class="form-control" id="PasswordConfirm" placeholder="Confirm Password">
                <div class="invalid-feedback"
                  *ngIf="form.controls.passwordConfirm.touched && form.controls.passwordConfirm.invalid">
                  Unconfirmed password or invalid
                </div>
              </div>
              <button class="btn btn-warning btn-block" #passwordResetBtn [disabled]="form.invalid"><i
                  class="fas fa-share-square"></i> Reset Password</button>
            </form>

          </div>

        </ng-container>

      </div>
    </div>

  </div>

</div>
