.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../../assets/img/header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }