<div class="row dark">
  <!-- Loading -->
  <div
    class="col-12 text-center mt-5 mb-5"
    *ngIf="isLoading && !isError && !isNoOrder"
  >
    <h3 class="text-primary display-4 font-weight-bold text-center mb-5">
      Loading Checkout Data ...
      <div class="text-center">
        <div
          class="spinner-border"
          role="status"
          style="width: 3rem; height: 3rem;"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </h3>

    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Error or No Order message -->
  <div
    class="col-sm-12 col-md-10 col-lg-8 col-xl-8 shadow-sm p-3 mb-5 bg-white rounded mx-auto mt-5"
    *ngIf="isError || isNoOrder"
  >
    <div
      class="shadow p-3 rounded text-white text-center font-weight-bold"
      [ngClass]="{
        'bg-danger': isError && !isNoOrder,
        'bg-warning': !isError && isNoOrder
      }"
    >
      <i class="fas fa-exclamation-triangle"></i> {{ message }}
      <a
        routerLink="/"
        class="btn btn-light text-center font-weight-bold btn-block"
        role="button"
      >
        <i class="fa fa-home"></i> Home
      </a>
    </div>
  </div>

  <!-- Checkout -->
  <main
    class="page payment-page col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto"
    [ngClass]="{
      invisible: !(!isError && !isNoOrder && !isLoading && checkoutData != null)
    }"
  >
    <section class="payment-form">
      <div class="container">
        <div class="block-heading">
          <h2>Payment</h2>
          <p>
            Welcome to our checkout system, we provide secured ways of payment.
          </p>
        </div>
        <form (ngSubmit)="buy()" [formGroup]="stripeForm">
          <div class="products">
            <h3 class="title">Checkout</h3>
            <div
              class="item"
              *ngFor="
                let mealOrder of checkoutData?.order.mealOrders;
                let i = index
              "
            >
              <span class="price">{{ mealOrder.totalPrice }} Dhs</span>
              <p class="item-name">{{ mealOrder.meal.name }}</p>
              <p class="item-description">Product {{ i + 1 }}</p>
            </div>
            <div class="total">
              Total<span class="price">{{ checkoutData?.amount }} Dhs</span>
            </div>
          </div>
          <div class="card-details">
            <h3 class="title">Credit Card Details</h3>
            <div class="row">
              <div class="form-group col-12">
                <label for="card-holder">Name</label>
                <input
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid':
                      stripeForm.controls.name.touched &&
                      stripeForm.controls.name.invalid,
                    'is-valid':
                      stripeForm.controls.name.touched &&
                      stripeForm.controls.name.valid
                  }"
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Please enter your name *"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    stripeForm.controls.name.touched &&
                    stripeForm.controls.name.invalid
                  "
                >
                  <ng-container
                    *ngIf="stripeForm.controls.name.errors.required"
                  >
                    Name is required
                  </ng-container>
                </div>
              </div>
              <div class="form-group col-12">
                <label for="card-number">Card</label>

                <!-- Stripe Form -->
                <ngx-stripe-card
                  [options]="cardOptions"
                  [elementsOptions]="elementsOptions"
                  class="field"
                ></ngx-stripe-card>

                <!-- Payment error -->
                <div
                  *ngIf="error"
                  class="shadow p-3 rounded text-white text-center font-weight-bold bg-danger"
                >
                  <i class="fas fa-exclamation-triangle"></i> {{ error }}
                </div>
              </div>
              <div class="form-group col-sm-12">
                <button
                  #proceedBtn
                  [disabled]="!stripeForm.valid"
                  type="submit"
                  class="btn btn-primary btn-block"
                >
                  <i class="fas fa-money-check-alt"></i> Proceed
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
