<!-- Loading -->
<div
  class="col-12 text-center mt-5 mb-5"
  *ngIf="isLoading && !isError"
>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="col-12 mx-auto mb-5">
  <!-- Loop through reviews -->
  <div
    class="media position-relative mb-3"
    *ngFor="let review of page.content"
  >
    <img
      src="{{ review.user.image.file }}"
      style="width: 100px; height: 100px;"
      class="mr-3 rounded-circle"
      alt="{{ review.user.username }}"
    />
    <div class="media-body">
      <h5 class="mt-0 text-dark font-weight-bold">
        <i class="fas fa-user-tag"></i> {{ review.user.username }}
      </h5>
      <p><i class="fas fa-comments"></i> {{ review.comment }}</p>
      <p>
        <!-- Stared reviews -->
        <ng-container *ngFor="let rate of getRating(review.rating).filledStars">
          <i class="fas fa-star mx-auto text-warning"></i>
        </ng-container>
        <!-- Remaining non stared reviews -->
        <ng-container
          *ngFor="let rate of getRating(review.rating).unfilledStars"
        >
          <i class="far fa-star mx-auto text-warning"></i>
        </ng-container>
      </p>
      <hr />
    </div>
  </div>

  <!-- No review message -->
  <div
    *ngIf="page != null && page.content != null && page.content.length == 0"
    class="shadow-sm p-3 mb-5 bg-primary text-center font-weight-bold text-white rounded"
  >
    <i class="fas fa-info"></i> No reviews has done
  </div>

  <!-- Error message -->
  <div class="col-12 text-center mt-5 mb-5" *ngIf="isError">
    <div
      class="shadow p-3 rounded bg-danger text-white text-center font-weight-bold"
    >
      <i class="fas fa-exclamation-triangle"></i> {{ errorMessage }}
    </div>
  </div>

  <!-- Pagination -->
  <div class="col-12">
    <hr class="my-no w-100" />
    <app-custom-pagination
      [page]="page"
      [loading]="isLoading"
      (nextPageEvent)="getNextPage()"
      (previousPageEvent)="getPreviousPage()"
      (pageSizeEvent)="getPageInNewSize($event)"
    >
    </app-custom-pagination>
  </div>
</div>
