<div class="container-fluid mt-5 mb-4">
  <div class="row">
    <div class="col-12">
      <!-- Error message -->
      <div
        *ngIf="errorMode"
        class="shadow p-3 rounded bg-danger text-white text-center font-weight-bold mb-3 fade show"
      >
        <i class="fas fa-exclamation-triangle"></i> An error occurred!
      </div>

      <!-- Reload button in case of error -->
      <button
        *ngIf="errorMode"
        (click)="ngOnInit()"
        class="btn btn-outline-dark btn-block font-weight-light"
      >
        <i class="fas fa-sync-alt"></i> Reload
      </button>

      <!-- Warning message -->
      <div
        *ngIf="!errorMode && !loadingMode && cartService.hasOrderDeletedMeals(activeOrder)"
        class="shadow p-3 rounded bg-warning text-white text-center font-weight-bold mb-3 fade show"
      >
        <i class="fas fa-exclamation-triangle"></i> Your cart has non existing meals, please remove them to proceed checkout!
      </div>

      <div class="table-responsive" *ngIf="!errorMode">
        <form name="f" [formGroup]="mealForm" novalidate>
          <table class="table table-striped" formArrayName="mealOrders">
            <thead align="center">
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Available</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!-- No order done yet message -->
              <tr
                *ngIf="
                  activeOrder &&
                  !errorMode &&
                  (activeOrder.mealOrders == null ||
                    activeOrder.mealOrders?.length == 0)
                "
              >
                <td
                  colspan="7"
                  class="alert alert-warning font-weight-bold text-center"
                >
                  <i class="fas fa-exclamation-circle"></i> Your cart is empty,
                  no order in progress yet!
                </td>
              </tr>

              <!-- Loading icon -->
              <tr *ngIf="!activeOrder && !errorMode">
                <td colspan="7">
                  <div class="col-12 text-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </td>
              </tr>

              <!-- Orders display -->
              <tr
                align="center"
                [formGroupName]="i"
                *ngFor="
                  let quantityControl of mealForm?.controls?.mealOrders
                    .controls;
                  let i = index
                "
              >
                <td>
                  <img
                    src="{{ activeOrder.mealOrders[i].meal.image.file }}"
                    style="height: 50px; width: 50px;"
                  />
                </td>
                <td>
                  <a
                    [routerLink]="[
                      '/products',
                      activeOrder.mealOrders[i].meal.id
                    ]"
                    class="font-weight-bold"
                    >{{ activeOrder.mealOrders[i].meal.name }}</a
                  >
                    <h3 class="text-center" *ngIf="activeOrder.mealOrders[i].meal.deleted">
                     <span class="badge badge-pill badge-warning">
                       <i class="fas fa-minus-circle"></i> Deleted
                      </span>
                    </h3>
                </td>
                <td class="font-weight-bold" [ngClass]="{'text-danger': activeOrder.mealOrders[i].meal.stock <= 0,
                'text-success': activeOrder.mealOrders[i].meal.stock > 0}">
                  {{
                    activeOrder.mealOrders[i].meal.stock > 0
                      ? "In Stock"
                      : "Not available"
                  }}
                </td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    name="quantity"
                    formControlName="quantity"
                    [ngClass]="{'is-valid': mealForm.controls.mealOrders.controls[i].controls.quantity.touched && mealForm.controls.mealOrders.controls[i].controls.quantity.valid, 
                                'is-invalid': mealForm.controls.mealOrders.controls[i].controls.quantity.touched && mealForm.controls.mealOrders.controls[i].controls.quantity.invalid}"
                  />
                  <div class="invalid-feedback" *ngIf="mealForm.controls.mealOrders.controls[i].controls.quantity.touched && 
                            mealForm.controls.mealOrders.controls[i].controls.quantity.invalid">
                    <ng-container
                      *ngIf="
                        mealForm.controls.mealOrders.controls[i].controls.quantity.errors.required
                      "
                    >
                      Quantity is required
                    </ng-container>
                    <ng-container
                      *ngIf="
                        mealForm.controls.mealOrders.controls[i].controls.quantity.errors.min ||
                        mealForm.controls.mealOrders.controls[i].controls.quantity.errors.max
                      "
                    >
                      Invalid quantity, value must be between 1 and 500
                    </ng-container>
                  </div>
                </td>
                <td class="text-right">{{ activeOrder.mealOrders[i].totalPrice }} Dhs</td>
                <td class="text-right">
                  <button
                    [disabled]="mealForm.controls.mealOrders.controls[i].controls.quantity.invalid"
                    (click)="onUpdateMealOrderQuantity($event, activeOrder.mealOrders[i].id, i)"
                    class="btn btn-sm btn-warning"
                    type="button"
                  >
                    <i class="fas fa-redo-alt"></i> Update
                  </button>
                </td>
                <td class="text-right">
                  <button
                    (click)="onDeleteMealOrder($event, activeOrder.mealOrders[i].id)"
                    class="btn btn-sm btn-danger"
                    type="button"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <ng-container
                *ngIf="
                  activeOrder &&
                  !errorMode &&
                  activeOrder.mealOrders &&
                  activeOrder.mealOrders.length != 0
                "
              >
                <tr>
                  <td colspan="6">Sub-Total</td>
                  <td class="text-right">{{ activeOrder?.price }} Dhs</td>
                </tr>
                <tr>
                  <td colspan="6">Shipping</td>
                  <td class="text-right">
                    {{ activeOrder?.shippingFees }} Dhs
                  </td>
                </tr>
                <tr>
                  <td colspan="6"><strong>Total</strong></td>
                  <td class="text-right">
                    <strong>{{ activeOrder?.totalPrice }} Dhs</strong>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <div
      class="col mb-2"
      *ngIf="
        activeOrder &&
        !errorMode &&
        activeOrder.mealOrders != null &&
        activeOrder.mealOrders?.length != 0
      "
    >
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <a [routerLink]="['']" class="btn btn-block btn-light" role="button">
            <i class="fas fa-home"></i> Continue Shopping
          </a>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <a
            routerLink="/checkout"
            class="btn btn-lg btn-block btn-success text-uppercase"
            role="button"
            ><i class="fas fa-shopping-cart"></i> Checkout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
