<div class="row">
  <div class="col-12 mt-3">
    <div
      class="shadow-sm p-3 bg-white rounded text-center h2 display-5 font-weight-bold text-secondary"
    >
      <i class="fas fa-fire-alt"></i> Popular Meals
    </div>
  </div>

  <!-- Laoding icon -->
  <div class="col-12 mx-auto mt-5 text-center" *ngIf="!isError && isLoading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Error mode message -->
  <div class="col-12 mx-auto mt-5" *ngIf="isError">
    <div class="shadow p-3 mb-5 rounded bg-danger text-white text-center">
      <i class="fas fa-exclamation"></i> An error occurred, please try again
      later!
    </div>
  </div>


    <!-- No meals found message -->
    <div
      class="col-12 mx-auto mt-5"
      *ngIf="!isError && !isError && popularMeals && popularMeals?.length == 0"
    >
      <div
        class="shadow-sm p-3 bg-white rounded text-center font-weight-bold text-primary"
      >
        <i class="fas fa-exclamation"></i> No meals to shop
      </div>
    </div>

  <!-- Loop over meals retrieved from server -->
  <div
    class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
    *ngFor="let meal of popularMeals"
  >
    <div class="card mb-3 shadow bg-white rounded" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-6 align-middle">
          <img
            src="{{ meal.image.file }}"
            class="card-img img-fluid "
            alt="{{ meal.name }}"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <a [routerLink]="['products', meal.id]"><h5 class="card-title font-weight-bold">{{ meal.name }}</h5></a>
            <!-- Check sale price -->
            <p class="card-text" *ngIf="meal.salePrice == null">
              {{ meal.price }} Dhs
            </p>
            <ng-container class="card-text" *ngIf="meal.salePrice != null">
              <p>
                {{ meal.salePrice }} Dhs
                <i class="text-danger"
                  ><del>{{ meal.price }} Dhs</del></i
                >
              </p>
            </ng-container>
            <p class="card-text">
              <small class="text-muted"
                >{{ meal.views }} <i class="fas fa-eye"></i
              ></small>
            </p>
            <p class="card-text">
              <button
                class="btn btn-outline-primary btn-sm shadow-lg"
                (click)="onAddMealOrder(meal.id, $event)"
              >
                <i class="fas fa-cart-plus"></i> Add To Cart
              </button>
            </p>
            <p class="cart-text text-warning">
              <!-- Stared reviews -->
              <star-rating [starType]="'svg'" [rating]="mealService.getRating(meal.reviews)" [readOnly]="true" labelPosition="top" size="medium"></star-rating>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
