/* You can add global styles to this file, and also import other style files */

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
}
button, .btn, button.btn {
  box-shadow: 0 .125rem .25rem rgba(32, 23, 23, 0.075) !important;
  border-radius: .25rem!important;
}
input, textarea, .form-control {
  display: block;
  width: 100%;
  border-radius: 2px;
  color: #686868;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 10px;
  height: 42px;
  outline: none;
  margin: 0;
  border-radius: 0%;
}
textarea {
  height: auto;
}