<!-- Header -->
<div class="row">
  <app-header class="nopadding col-12"></app-header>
</div>

<div class="row">
  <!-- Left sidebar -->
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <app-left-sidebar
      (addMealToCartEvent)="onAddMealOrder($event)"
    ></app-left-sidebar>
  </div>

  <!-- Meals -->
  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-4">

    <!-- Laoding icon -->
    <div
      class="col-12 mx-auto mt-5 text-center"
      *ngIf="!errorMode && loadingMode"
    >
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- No meals found message -->
    <div
      class="col-12 mx-auto mt-5"
      *ngIf="!errorMode && !loadingMode && page && page?.content?.length == 0"
    >
      <div
        class="shadow-sm p-3 bg-white rounded text-center font-weight-bold text-primary"
      >
        <i class="fas fa-exclamation"></i> No meals to shop
      </div>
    </div>

    <!-- Error mode message -->
    <div class="col-12 mx-auto mt-5" *ngIf="errorMode">
      <div class="shadow p-3 mb-5 rounded bg-danger text-white text-center">
        <i class="fas fa-exclamation"></i> An error occurred, please try again
        later!
      </div>
    </div>

    <div class="row">
      <!-- Loop over meals retrieved from server -->
      <div
        class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto mt-3 d-flex align-items-stretch"
        *ngFor="let meal of page?.content"
      >
        <div
          class="card shadow p-3 mb-5 bg-white rounded"
          style="padding: 2rem;"
        >
          <img
            [src]="meal.image.file"
            class="card-img-top shadow-sm rounded myImg img-fluid"
            alt="{{ meal.name }}"
          />
          <div class="card-body">
            <a [routerLink]="['products', meal.id]"
              ><h5 class="card-title font-weight-bold">{{ meal.name }}</h5></a
            >
            <!-- Check sale price -->
            <p class="card-text" *ngIf="meal.salePrice == null">
              {{ meal.price }} Dhs
            </p>
            <ng-container class="card-text" *ngIf="meal.salePrice != null">
              <p>
                {{ meal.salePrice }} Dhs
                <i class="text-danger"
                  ><del>{{ meal.price }} Dhs</del></i
                >
              </p>
            </ng-container>
            <!-- Views -->
            <p>{{ meal.views }} <i class="fas fa-eye"></i></p>
            <!-- Meal action buttons -->
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                <button
                  class="btn btn-outline-primary shadow-lg"
                  (click)="onAddMealOrder(meal.id)"
                >
                  <i class="fas fa-cart-plus"></i> Add To Cart
                </button>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                <button
                  id="btnPreffer{{ meal.id }}"
                  (click)="onMealPreference($event, meal.id)"
                  class="btn"
                  style="background-color: transparent;"
                >
                  <i
                    class="fas fa-heart"
                    *ngIf="checkMealPreferred(meal.id) === true"
                  ></i>
                  <i
                    class="far fa-heart"
                    *ngIf="checkMealPreferred(meal.id) === false"
                  ></i>
                </button>
              </div>
            </div>
            <!-- Meal rating -->
            <div class="row">
              <div
                class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center text-warning"
              >
                <!-- Stared reviews -->
                <ng-container
                  *ngFor="
                    let rate of mealService.getRating(meal.reviews).filledStars
                  "
                >
                  <i class="fas fa-star"></i>
                </ng-container>
                <!-- Remaining non stared reviews -->
                <ng-container
                  *ngFor="
                    let rate of mealService.getRating(meal.reviews)
                      .unfilledStars
                  "
                >
                  <i class="far fa-star"></i>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <hr class="my-no w-100" />
        <app-custom-pagination
          [page]="page"
          [loading]="loadingMode"
          (nextPageEvent)="getNextPage()"
          (previousPageEvent)="getPreviousPage()"
          (pageSizeEvent)="getPageInNewSize($event)"
        >
        </app-custom-pagination>
      </div>
    </div>
  </div>
</div>
